<% if (message) { %>
<div class="MsgStyle">
  <% message.forEach(msg=> { %>
  <div class="<%= msg.type == 'success'?'successMsg':'errorMsg' %> msgBoxes">
    <p><%= msg.msg %></p>
  </div>
  <% }) %>
</div>
<% } %>
